# Absolute path to the graphical terminal to run processes in
TerminalApplication.Path = /usr/bin/xterm
# Whether the weldmaster applications should be started in the terminal application or directly
TerminalApplication.Use = 0

# Alphabetical order of the processes to start
# Value is name of a config group of the processes to start
# Each group supports the following key-value pairs
# Name: the name of the application to start
# TermArguments: the arguments to pass to TerminalApplication.Path  (optional)
# Arguments: the arguments to pass to the process (optional)
# Batch: boolean indicating whether to start a batch file using system call, default false (optional)
# WeldMasterApplication: boolean indicating whether Name is part of WeldMaster (true) or a system binary (false), default true
# UseTerminal: boolean indicating whether WeldMasterApplication should be started in the terminal application, default is TerminalApplication.Use
# Enabled: boolean indicating whether the process should be started, default true
# LD_PRELOAD: string to pass to LD_PRELOAD environment variable in case of WeldMasterApplication

Startup.00 = SetupFifo
Startup.01 = ModuleManager
Startup.02 = GrabberNoHw
Startup.03 = Calibration
Startup.04 = Storage
Startup.05 = Simulation
Startup.06 = Logger

SetupFifo.Name = setupFifo.sh
SetupFifo.Batch = 1

ModuleManager.Name = App_ModuleManager
ModuleManager.TermArguments = -geometry 80x30+520+730 -title ModuleManager-Simulation -e

Simulation.Name = App_Simulation
Simulation.TermArguments = -geometry 80x30+20+20 -title Simulation -e

Logger.Name = App_LoggerServer
Logger.TermArguments = -geometry 260x30+100+20 -title LoggerServer-Simulation -e
Logger.Arguments = -n

GrabberNoHw.Name = App_GrabberNoHw
GrabberNoHw.TermArguments = -geometry 80x30+1020+730 -title GrabberNoHw -e

Calibration.Name = App_Calibration
Calibration.TermArguments = -geometry 80x30+20+270 -title Calibration-Simulation -e
Calibration.Arguments = --sim

Storage.Name = App_Storage
Storage.TermArguments =  -geometry 80x30+500+20 -title Storage -e
Storage.Arguments = --calibration

