#SAMEIOSTP: This is the configuration file for the Network Synchronous/Asynchronous Messaging/Eventing Input/output Standardized Templated Protcol !

Adapter.Name = enp0s31f6
# Use virbr1 for WM Light with virtualized windows
#Adapter.Name = virbr1
Station.Name = SIMULATION
Station.UUID = 1E10A698-12B3-40E4-958B-4F051DBF6179

MultiCastGroup.Address = 239.255.1.2
MultiCastGroup.Port = 25513
DoDiscover = False

ModuleManager.Watch = True
LoggerServer.Watch = True
Simulation.Watch = True
Storage.Watch = True
Grabber.Watch = False
WeldHeadControl.Watch = False
Communicator.Watch = False
Service.Watch = False
Calibration.Watch = False
Workflow.Watch = False
InspectionControl.Watch = False
VideoRecorder.Watch = False
ECatMaster.Watch = False
Gui.Watch = False
CHRCommunication.Watch = False
Fieldbus.Watch = False
Trigger.Watch = False
TCPCommunication.Watch = False
Scheduler.Watch = False

Has.Camera = False
CameraWidth = 1024
CameraHeight = 1024

Inspect.LineLaser1Intensity = 90

# Bei 1 geht der Workflow nach dem Initialisieren in den NotReady Status und verlangt ein Homing der y Achse.
Inspect.EnableYAxisOnStartup = 0

DataBase.Port = 8654
Device_Kamera.Port = 8655
InspectCommand.Port = 8656
Recorder.Port = 8657
Result.Port = 8658
Status.Port = 8659

DBNotification.Port = 8660
SensorSimulation.Port = 8661
VIWeldHeadSubscribe.Port = 8662
VIInspection_Inspection.Port = 8663
VIInspection_InspectionCmd.Port = 8664
VIService.Port = 8665
VIServiceProxy.Port = 8666
VideoRecorder.Port = 8667
VIWeldHeadPublish.Port = 8668
ProductTeachIn.Port = 8671
QnxLogger.Port = 8673
VideoRecorderCmd.Port = 8674
CalibDataBase.Port = 8676
SimulationCmd.Port = 8681
LogNotification.Port = 8682
DeviceNotification.Port = 8683
Receptor.Port = 59900
MMProtocol.Port = 59910

DeviceCalib_CHRComm.Port = 20009


Start.Config = simulationstartup.config
