# Absolute path to the graphical terminal to run processes in
TerminalApplication.Path = /usr/bin/xterm
# Whether the weldmaster applications should be started in the terminal application or directly
TerminalApplication.Use = 0

# Alphabetical order of the processes to start
# Value is name of a config group of the processes to start
# Each group supports the following key-value pairs
# Name: the name of the application to start
# TermArguments: the arguments to pass to TerminalApplication.Path  (optional)
# Arguments: the arguments to pass to the process (optional)
# Batch: boolean indicating whether to start a batch file using system call, default false (optional)
# WeldMasterApplication: boolean indicating whether Name is part of WeldMaster (true) or a system binary (false), default true
# UseTerminal: boolean indicating whether WeldMasterApplication should be started in the terminal application, default is TerminalApplication.Use
# Enabled: boolean indicating whether the process should be started, default true
# AutoRestart: boolean indicating whether a WeldmasterApplication should be restarted in case of crash, only makes sense with UseTerminal set to false
# LD_PRELOAD: string to pass to LD_PRELOAD environment variable in case of WeldMasterApplications

Startup.00 = SetupFifo
Startup.01 = StartEthercat
Startup.02 = StartGs
Startup.03 = CopyDefaultProduct
Startup.04 = ModuleManager
Startup.05 = WeldmasterGui
Startup.06 = EtherCATMaster
Startup.07 = Fieldbus
Startup.08 = Grabber
Startup.09 = GrabberGigE
Startup.10 = GrabberNoHw
Startup.11 = CHRCommunication
Startup.12 = WeldHeadControl
Startup.13 = Service
Startup.14 = Calibration
Startup.15 = Storage
Startup.16 = VideoRecorder
Startup.17 = InspectionControl
Startup.18 = Trigger
Startup.19 = TCPCommunication
Startup.20 = Workflow
Startup.21 = Scheduler
Startup.22 = Logger

SetupFifo.Name = setupFifo.sh
SetupFifo.Batch = 1

StartEthercat.Name = sudo
StartEthercat.Arguments = /bin/systemctl start ethercat.service
StartEthercat.WeldMasterApplication = false
StartEthercat.Batch = 1

StartGs.Name = start-gs.sh
StartGs.Batch = 1

CopyDefaultProduct.Name = /bin/cp
CopyDefaultProduct.Arguments = config_templates/defaultProduct.json config/products/defaultProduct.json
CopyDefaultProduct.WeldMasterApplication = false
CopyDefaultProduct.Batch = 1

ModuleManager.Name = App_ModuleManager
ModuleManager.TermArguments = -geometry 80x30+520+730 -title ModuleManager -e

EtherCATMaster.Name = App_EtherCATMaster
EtherCATMaster.TermArguments = -geometry 80x30+20+730 -title EtherCATMaster -e
EtherCATMaster.Arguments = -n1

Fieldbus.Name = App_Fieldbus
Fieldbus.TermArguments = -geometry 100x50+1020+20 -title Fieldbus -e

Grabber.Name = App_Grabber
Grabber.TermArguments = -geometry 80x30+1020+730 -title Grabber -e

GrabberGigE.Name = App_GrabberGigE
GrabberGigE.TermArguments = -geometry 80x30+1020+730 -title GrabberGigE -e

GrabberNoHw.Name = App_GrabberNoHw
GrabberNoHw.TermArguments = -geometry 80x30+1020+730 -title GrabberNoHw -e

WeldHeadControl.Name = App_WeldHeadControl
WeldHeadControl.TermArguments = -geometry 80x30+20+500 -title WeldHeadControl -e
#WeldHeadControl.LD_PRELOAD = lib/libMod_SimulatedRTCBoard.so

Service.Name = App_Service
Service.TermArguments = -geometry 80x30+1020+500 -title Service -e

Calibration.Name = App_Calibration
Calibration.TermArguments = -geometry 80x30+20+270 -title Calibration -e

Workflow.Name = App_Workflow
Workflow.TermArguments = -geometry 80x30+20+20 -title Workflow -e

InspectionControl.Name = App_InspectionControl
InspectionControl.TermArguments = -geometry 80x30+520+270 -title InspectionControl -e
#InspectionControl.Arguments = -nohw
#InspectionControl.UseTerminal = 1

Trigger.Name = App_Trigger
Trigger.TermArguments = -geometry 100x50+1080+20 -title Trigger -e

TCPCommunication.Name = App_TCPCommunication
TCPCommunication.TermArguments = -geometry 100x30+1080+500 -title TCPCommunication -e

VideoRecorder.Name = App_VideoRecorder
VideoRecorder.TermArguments = -geometry 80x30+1020+270 -title VideoRecorder -e

Logger.Name = App_LoggerServer
Logger.TermArguments = -geometry 260x30+100+20 -title LoggerServer -e

WeldmasterGui.Name = App_Gui
WeldmasterGui.TermArguments = -title Weldmaster -e
WeldmasterGui.AutoRestart = 1

Storage.Name = App_Storage
Storage.TermArguments = -title Storage -e
Storage.Arguments = --results

CHRCommunication.Name = App_CHRCommunication
CHRCommunication.TermArguments = -geometry 80x30+520+20 -title CHRCommunication -e

Scheduler.Name = App_Scheduler
Scheduler.TermArguments = -geometry 80x30+520+500 -title Scheduler -e
